{
  "id": @@id@@,
  "name": @@name@@,
  "description": @@description@@,
  "action": @@action@@,
  "tags": @@tags@@,
  "allow": @@allow@@,
  "allow_bot": @@allow_bot@@,
  "deny_bot": @@deny_bot@@,
  "passthrough": @@passthrough@@,
  "force_deny": @@force_deny@@,
  "deny": @@deny@@
}