{
    "id": @@id@@,
    "name": @@name@@,
    "description": @@description@@,
    "least_conn": @@least_conn@@,
    "http11": @@http11@@,
    "transport_mode": @@transport_mode@@,
    "sticky": @@sticky@@,
    "back_hosts": @@back_hosts@@
}