{
    "id": @@id@@,
    "name": @@name@@,
    "description": @@description@@,
    "msg": @@msg@@,
    "operand": @@operand@@,
    "risk": @@risk@@,
    "category": @@category@@,
    "subcategory": @@subcategory@@,
    "tags": @@tags@@
}