{
    "id": @@id@@,
    "name": @@name@@,
    "description": @@description@@,
    "timeframe": @@timeframe@@,
    "threshold": @@threshold@@,
    "active": @@active@@,
    "include": @@include@@,
    "exclude": @@exclude@@,
    "ttl": @@ttl@@,
    "target": @@target@@
}