{
    "id": @@id@@,
    "name": @@name@@,
    "description": @@description@@,
    "active": @@active@@,
    "include": @@include@@,
    "exclude": @@exclude@@,
    "timeframe": @@timeframe@@,
    "tags": @@tags@@,
    "key": @@key@@,
    "sequence": @@sequence@@
}