{
    "action": @@action@@,
    "active": @@active@@,
    "description": @@description@@,
    "id": @@id@@,
    "mdate": @@mdate@@,
    "name": @@name@@,
    "rule": @@rule@@,
    "source": @@source@@,
    "tags": @@tags@@
}