{
    "active": @@active@@,
    "description": @@description@@,
    "exclude": @@exclude@@,
    "global": @@global@@,
    "id": @@id@@,
    "include": @@include@@,
    "key": @@key@@,
    "name": @@name@@,
    "pairwith": @@pairwith@@,
    "tags": @@tags@@,
    "threshold": @@thresholds@@,
    "timeframe": @@timeframe@@
}