{
    "active": @@active@@,
    "description": @@description@@,
    "exclude": @@exclude@@,
    "global": @@global@@,
    "id": @@id@@,
    "include": @@include@@,
    "key": @@key@@,
    "name": @@name@@,
    "pairwith": @@pairwith@@,
    "tags": @@tags@@,
    "threshold": @@threshold@@,
    "timeframe": @@timeframe@@,
    "action": @@action@@,
    "is_action_ban": @@is_action_ban@@,
    "ttl": @@ttl@@,
    "last_activated": @@last_activated@@
}