{
    "id": @@id@@,
    "name": @@name@@,
    "match": @@match@@,
    "description": @@description@@,
    "tags": @@tags@@,
    "session": @@session@@,
    "session_ids": @@session_ids@@,
    "map": @@map@@
}