{
    "id": @@id@@,
    "name": @@name@@,
    "challenge_cookie_domain": @@challenge_cookie_domain@@,
    "description": @@description@@,
    "server_names": @@server_names@@,
    "security_policy": @@security_policy@@,
    "routing_profile": @@routing_profile@@,
    "proxy_template": @@proxy_template@@,
    "mobile_sdk": @@mobile_sdk@@,
    "ssl_certificate": @@ssl_certificate@@
}